body {
    display: flex;
    flex-direction: column;
    font-size: 10px;
    background: rgb(255, 255, 255);
    font-family: 'Raleway', sans-serif;
}
.navbar {
    display: inline-block;
    padding-bottom: 10px;
    font-weight: 500;
    align-self: center;
    align-content: center;

}

.navbarsection {
    margin-left: 1600px;
    margin-right: 0px;

}

.logo {
    opacity: 0.4;
    filter: alpha(opacity=40);
    align-items: center;
    align-self: center;
    align-content: center;
    justify-content: center;
    /* https://stackoverflow.com/questions/286275/gray-out-image-with-css Found here. */
}

.logobox {
    align-items: center;
    align-self: center;
    align-content: center;
    justify-content: center;
    /*margin-left: 1000px;*/
}
